html {
    scroll-behavior: smooth;
}

html, body {
    font-family: var(--font-sans-serif);
    background-color: var(--color-light);
    color: var(--color-light-contrast);
    font-size: var(--font-base);
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

a {
    color: var(--color-light-contrast);
    text-decoration: none;
}

p, span, div {
    line-height: 1.5;
}

hr {
    border-color: rgba(var(--color-dark-rgb), 0.05);
}

.text {
    font-size: 1.1rem;
}

.text-decoration-underline {
    text-decoration: underline;
}

.font-serif {
    font-family: var(--font-serif);
}

// Hover Scale
.hover-scale-1 {
    &:hover {
        transform: scale(1.06);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
        cursor: pointer;
    }
}

// Content Icon
.content-icon {
    display: flex;
    width: 3rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
}

// Modal
.modal-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.modal-text {
    font-size: 0.9em;
    color: rgba(var(--color-dark-rgb), 0.8);
}

.modal-backdrop {
    background: rgba(var(--color-dark-rgb), .2);
    backdrop-filter: saturate(180%) blur(15px);
    -webkit-backdrop-filter: saturate(180%) blur(15px);
}

.modal-backdrop.show {
    opacity: unset;
}

// Overlay
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(var(--color-dark-rgb), 0.3);
    backdrop-filter: blur(8px);
    z-index: 0;
}
